<h1>Acronym buster</h1>

<%# FOR TESTING ONLY %>
<h5>Submit a new hiscore</h5>
<form action="api/leaderboard/new" name="newHiscore" method="post">
  <input name="player" id="player" placeholder="Player"/>
  <input name="score" id="score" placeholder="Score"/>
  <input type="submit" value="Submit!"/>
</form>
